<md-sidenav-container>
  <md-sidenav #nav mode="side" opened="true">
    <h2 [innerHTML]="(annotate$ | async)?.selectedStep?.title"></h2>
    <p [innerHTML]="(annotate$ | async)?.selectedStep?.description"></p>
    <hr>
    <md-radio-group (change)="artboardStore.dispatch(artboardActions.selectArtboardTool($event.value))" [value]="(artboard$ | async)?.currentTool">
      <!-- <md-radio-button [value]="artboardTools[0]" selected>Polygon</md-radio-button> -->
      <md-radio-button [value]="artboardTools[1]">Lasso</md-radio-button>
      <md-radio-button [value]="artboardTools[2]">Brush</md-radio-button>
    </md-radio-group>
    <hr>
    <div [style.opacity]="(artboard$ | async)?.currentTool == artboardTools[2] ? 1.0 : 0.5">
      Pointer Size <md-slider thumbLabel [disabled]="(artboard$ | async)?.currentTool != artboardTools[2]"
      (change)="artboardStore.dispatch(artboardActions.setBrushRadius($event.value))"
      [value]="(artboard$ | async)?.brushRadius" min="1" max="50"></md-slider>
    </div>
    <hr>
    <md-radio-group (change)="artboardStore.dispatch(artboardActions.setPixelAdding($event.value))" [value]="(artboard$ | async)?.isAdding">
      <md-radio-button [value]="true">Add Pixels</md-radio-button>
      <md-radio-button [value]="false">Remove Pixels</md-radio-button>
    </md-radio-group>
    <hr>
    <md-slide-toggle [checked]="(artboard$ | async)?.isShowingOriginal"
      (change)="artboardStore.dispatch(artboardActions.setIsShowingOriginal($event.checked))">
      {{ (artboard$ | async)?.isShowingOriginal ? 'Original Visible' : 'Original Hidden' }}
    </md-slide-toggle>
    <div>
      Zoom <md-slider thumbLabel (change)="artboardStore.dispatch(artboardActions.setZoom($event.value))"
      [value]="(artboard$ | async)?.zoom" step="0.1" min="1" max="4"></md-slider>
    </div>
    <!-- <md-slide-toggle [checked]="(artboard$ | async)?.isDragging"
      (change)="artboardStore.dispatch(artboardActions.setIsDragging($event.checked))">Drag</md-slide-toggle> -->
  </md-sidenav>

  <div class="draw-view">
    <!-- <canvas #bgCanvas class="background" [style.display]="(artboard$ | async)?.isShowingOriginal ? 'block' : 'none'"></canvas> -->
    <canvas #drawCanvas></canvas>
  </div>

  <md-toolbar>
    <button md-icon-button (click)="nav.toggle()">
      <md-icon fontSet="fontawesome" fontIcon="fa-sliders"></md-icon>
    </button>
    <span class="spacer"></span>
    <button md-button [routerLink]="['/annotate']" color="warn">
        <md-icon fontSet="fontawesome" fontIcon="fa-close"></md-icon> Cancel
      </button>
      <button md-button color="primary" (click)="handleNext()">
        <md-icon fontSet="fontawesome" fontIcon="fa-chevron-right"></md-icon> Next
      </button>
  </md-toolbar>


</md-sidenav-container>
