<md-sidenav-container>
  <md-sidenav #nav mode="side" opened="true">
    <md-button-toggle-group
      (change)="setGender($event.value)"
      [value]="selectedObjectIndex ? objects[selectedObjectIndex]?.gender : null">
      <md-button-toggle *ngFor="let gender of genders" [value]="gender">{{ gender.label }}</md-button-toggle>
    </md-button-toggle-group>
    <hr>
    <md-button-toggle-group
      (change)="setAgeGroup($event.value)"
      [value]="selectedObjectIndex ? objects[selectedObjectIndex]?.ageGroup : null">
      <md-button-toggle *ngFor="let ageGroup of ageGroups" [value]="ageGroup">{{ ageGroup.label }}</md-button-toggle>
    </md-button-toggle-group>
    <hr *ngIf="selectedObjectIndex">
    <div *ngIf="selectedObjectIndex">
      Gender: {{ objects[selectedObjectIndex]?.gender.label }} <br>
      Age Group: {{ objects[selectedObjectIndex]?.ageGroup.label }} <br>
    </div>
    <hr>
    <div>
      Zoom <md-slider color="primary" thumbLabel (change)="canvas.setZoom($event.value)"
      [value]="zoom" step="0.1" min="1" max="4"></md-slider>
    </div>
    <hr>
  </md-sidenav>

  <div class="draw-view" [class.no-faces]="selectedObjectIndex === -1">
    <canvas #drawCanvas></canvas>
    <div class="warning" *ngIf="selectedObject === -1">
      <p>Please <a [routerLink]="['/annotate/' + params.image_id + '/' + params.annotation_id + '/objects']">mark some faces</a> first</p>
    </div>
  </div>

  <md-toolbar color="accent">
    <button md-icon-button (click)="nav.toggle()">
      <md-icon fontSet="fontawesome" fontIcon="fa-sliders"></md-icon>
    </button>
    <span class="spacer"></span>
    <!-- <button md-button color="warn" [routerLink]="['/annotate/' + (annotate$ | async)?.selectedImage?.id + '/' + (annotate$ | async)?.annotation?.id]">Cancel</button> -->
    <button md-raised-button color="primary" (click)="handleNext()">Save and Continue</button>
  </md-toolbar>

</md-sidenav-container>
