/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  font-size: 14px;
}
button:focus {
  outline: none;
}
body {
  padding-top: 64px;
}

.jumbotron {
  height: 100%;
  input:focus {
    background-color: #eceeef;
  }
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 500;
}
.mat-toolbar .mat-toolbar-row {
  align-items: center;
  justify-content: center;
}

md-sidenav-container {
  height: 100%;

  md-sidenav {
    min-width: 325px;
    padding-top: 20px;
  }

  &.is-loading {
    .mat-sidenav-content {
      padding: 40px;
    }
  }
}
.mat-icon.fa {
  display: inline-flex;
  vertical-align: middle;
  // align-items: center;
}
md-toolbar {
  .spacer {
    flex: 1 1 auto;
  }
}

.draw-view {
  position: relative;
  canvas {
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
  }
  canvas.background {
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
  background-color: #BBDEFB !important;
}
