<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}FAT - Flickr Annotation Tool{% endblock %}</title>
  {% block head %}{% endblock head %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  {% block css %}{% endblock css %}

  <script>
    window.isDjango = true;
  </script>
</head>
<body>
  {% block content %}{% endblock content %}

  {% block js %}{% endblock js %}
</body>
</html>
