<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true">
    <form [formGroup]="form" (ngSubmit)="handleSearch($event)" novalidate>
      <md-input-container><input [autocomplete]="'off'" mdInput formControlName="tags" type="text" placeholder="Tags"/></md-input-container>
      <!-- <md-input-container><input [autocomplete]="'off'" mdInput formControlName="exclude" type="text" placeholder="Exclude"/></md-input-container> -->
      <md-select placeholder="Tag mode" formControlName="tagMode">
        <md-option *ngFor="let mode of (state$ | async)?.tagModes" [value]="mode">{{ mode }}</md-option>
      </md-select>
      <md-input-container><input [autocomplete]="'off'" mdInput formControlName="userID" type="text" placeholder="User ID (Optional)"/></md-input-container>
      <p class="pagination-label" [innerHTML]="(state$ | async)?.isRequesting ? 'Loading...' : (state$ | async)?.total + ' unviewed results'"></p>
      <md-input-container [dividerColor]="(state$ | async)?.perpage > maxPerPage ? 'warn' : 'primary'">
        <input mdInput
          (keyup.enter)="handlePerpageKeypress($event)" [autocomplete]="'off'" formControlName="perpage"
          type="number"
          [value]="(state$ | async)?.perpage"
          [placeholder]="'How many per batch? (max 100)'"/>
      </md-input-container>
      <div>
        <md-expansion-panel #licensesPanel>
          <md-expansion-panel-header>
            <mat-panel-title>Licenses</mat-panel-title>
          </md-expansion-panel-header>
          <div class="licenses" *ngFor="let license of (state$ | async)?.licenses">
            <md-checkbox [checked]="isLicenseSelected(license)" (change)="handleToggleLicense(license, $event?.checked)">
              {{ license?.name }}
            </md-checkbox>
          </div>
        </md-expansion-panel>
      </div>
      <md-input-container>
        <input [autocomplete]="'off'" mdInput formControlName="page"
          [max]="(state$ | async)?.pages"
          [placeholder]="'Page ' + (state$ | async)?.page"
          [value]="(state$ | async)?.page" type="number"/>
      </md-input-container>
      <div class="form-controls">
        <p><button md-raised-button type="submit" [disabled]="(state$ | async)?.isRequesting"><md-icon fontSet="fontawesome" fontIcon="fa-search"></md-icon> Search</button></p>
        <p><button md-button color="accent" type="button" (click)="handleDiscardAll($event)" [disabled]="(state$ | async)?.isRequesting || (state$ | async)?.images.length == 0"><md-icon fontSet="fontawesome" fontIcon="fa-refresh"></md-icon> Discard all</button></p>
        <p><button md-button color="primary" type="button" (click)="handleSave($event, state$?.page)" [disabled]="(state$ | async)?.isRequesting || (state$ | async)?.images.length == 0"><md-icon fontSet="fontawesome" fontIcon="fa-save"></md-icon> Save</button></p>
      </div>
    </form>
  </md-sidenav>

  <div class="content"
    [class.is-loading]="(state$ | async)?.isRequesting">
    <md-progress-spinner *ngIf="(state$ | async)?.isRequesting" color="primary" mode="indeterminate"></md-progress-spinner>
    <div class="content-heading" *ngIf="!(state$ | async)?.isRequesting && (state$ | async)?.images.length > 0">
      <md-button-toggle-group #viewMode="mdButtonToggleGroup"
        (change)="handleViewMode($event)">
        <md-button-toggle *ngFor="let viewMode of (cardLayout$ | async)?.viewModes" [value]="viewMode"
          [checked]="(cardLayout$ | async)?.currentViewMode.id == viewMode?.id">
          <md-icon fontSet="fontawesome" fontIcon="fa-{{ viewMode?.iconName }}"></md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
      <md-slider
        *ngIf="(cardLayout$ | async)?.isScaleSliderVisible"
        [disabled]="(state$ | async)?.isRequesting"
        [max]="50"
        [min]="10"
        [step]="5"
        [thumb-label]="false"
        [value]="(cardLayout$ | async)?.thumbnailScale"
        [vertical]="false"
        (input)="handleThumbnailScale($event)">
      </md-slider>
    </div>
    <div *ngIf="!(state$ | async)?.images[0] && !(state$ | async)?.isRequesting">No results.</div>
    <fat-card-list *ngIf="!(state$ | async)?.isRequesting"
      [style.flex-direction]="(cardLayout$ | async)?.currentViewMode?.id == 0 ? 'row' : 'column'"
      [viewMode]="(cardLayout$ | async)?.currentViewMode"
      [cardScale]="(cardLayout$ | async)?.thumbnailScale"
      (onCardClick)="handleImageDiscarded($event)"
      [images]="images"></fat-card-list>
  </div>
</md-sidenav-container>
