:host {
  width: 100%;
  overflow: auto;

  .column {
    padding-top: 72px;
    column-count: 3;
    column-gap: 5px;
    column-fill: auto;
  }

  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // align-items: flex-start;
  // justify-content: flex-start;
  // padding: 72px 20px;
  // width: 90%;
  // grid-auto-columns: 100px;
}

@media screen and (max-width: 750px) {
  :host { column-gap: 0px; }
}
