:host,
.card-image-wrapper,
img[md-card-image],
.meta {
  transition: all 0.4s ease;
}

:host {
  // width: auto;
  md-card {

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 5px;
    position: relative;
    display: block;
    overflow: auto;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-bottom: 15px;
    margin: 5px;

    &.is-discarded {
      box-shadow: none;
      border: 1px solid #e2e2e2;

      .card-image-wrapper,
      img[md-card-image] {
        opacity: 0.2;
      }
    }

    md-card-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      position: relative;
      overflow: hidden;
      padding: 5px;
      cursor: pointer;


      img[md-card-image] {
        width: 100%;
        flex: 0 1 auto;
      }

      .card-image-wrapper {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        opacity: 1;
        margin-bottom: 5px;
        background: #ccc none center center no-repeat;
        background-size: contain;
      }

    }

    .meta {
      font-size: 12px;
      margin: 10px;
      flex: 2 1 auto;
    }

    md-card-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

    &.view-mode-list {
      height: auto;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      flex-direction: row !important;

      // .card-image-wrapper {
      //   width: 120px;
      //   height: 120px;
      //   background-size: contain !important;
      // }
      img[md-card-image] {
        max-width: 120px;
      }
      .meta {
        display: block !important;
      }
    }
    // &.view-mode-thumbnails {
    //   align-items: flex-start;
    //   justify-content: flex-start;
    //   margin: 15px;
    // }

  }

}
