<md-card [class.is-discarded]="image.state?.value == 0"
  [ngClass]="viewMode?.containerClassName"
  [ngSwitch]="viewMode?.id">

  <md-card-content (click)="handleImageClick(image)">
    <img md-card-image [src]="getImageURL(image)" [alt]="image.flickr_id" />
    <!-- <div *ngSwitchCase="1" class="card-image-wrapper"
      [ngStyle]="{
        'background-image': 'url(' + getImageURL(image) + ')',
        'opacity': image.state?.value == 0 ? 0.2 : 1.0
      }">
    </div> -->
    <div class="meta" *ngSwitchCase="0">
      <strong>Tags:</strong> {{ image.tags }} <br>
      <strong>License:</strong> <a [href]="image.license?.url" target="_blank">{{ image.license?.name }}</a>
    </div>
    <button md-button (click)="handleImageClick(image)" *ngSwitchCase="0">
      <md-icon color="primary" [style.color]="image.state?.value == 0 ? 'red' : 'green'"
        [innerHTML]="image.state?.value == 0 ? 'close' : 'check'"></md-icon>
    </button>
  </md-card-content>

  <md-card-actions>
    <div *ngSwitchCase="1">
      <div class="meta" *ngIf="thumbnailScale >= 50">
        <strong>Tags:</strong> {{ image.tags }} <br>
        <strong>License:</strong> <a [href]="image.license?.url" target="_blank">{{ image.license?.name }}</a>
      </div>
    </div>
    <button md-button (click)="handleImageClick(image)" *ngSwitchCase="1">
      <md-icon color="primary" [style.color]="image.state?.value == 0 ? 'red' : 'green'"
        [innerHTML]="image.state?.value == 0 ? 'close' : 'check'"></md-icon>
    </button>
  </md-card-actions>
</md-card>
