option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "fat.settings.prod"
    "PYTHONPATH": "/opt/python/current/app/fat/server:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: fat/server/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "fat/server/staticfiles"
