<md-sidenav-container>
  <md-sidenav #nav mode="side" opened="true">
    <h2>Semantic Nudity Check</h2>
    <p></p>
    <hr>
    <div class="slider-row" *ngFor="let type of (nudityCheck$ | async).checkTypes">
      <md-checkbox [checked]="type?.isActive" (change)="store.dispatch(actions.toggleTypeActive(type))">
        <span>{{ type?.label }}</span>
      </md-checkbox>
      <md-slider thumbLabel
        (change)="store.dispatch(actions.setWeight(type, $event.value))"
        [disabled]="!type?.isActive"
        [value]="type?.weight" min="0" max="100"></md-slider>
    </div>
    <hr>
    <div class="form-controls">
      <button md-button color="warn" [routerLink]="['/annotate']">Cancel</button>
      <button md-button color="primary" (click)="handleNext()">Next</button>
    </div>
  </md-sidenav>

  <div class="draw-view">
    <div class="image-container">
      <div class="original" [style.background-image]="'url(' + (annotate$ | async)?.selectedImage?.flickr_url + ')'"></div>
      <div class="skin-pixels" [style.background-image]="'url(' + (annotate$ | async)?.annotation?.skin_pixels_image + ')'"></div>
    </div>
  </div>

</md-sidenav-container>
