<md-sidenav-container>
  <md-sidenav #nav mode="side" opened="true">
    <h2>Semantic Nudity Check</h2>
    <p></p>
    <hr>
    <div class="slider-row" *ngFor="let semanticCheck of semanticChecks">
      <md-checkbox color="primary" [checked]="semanticCheck.isActive" (change)="semanticCheck.isActive = $event.checked">
        <span>{{ semanticCheck.label }}</span>
      </md-checkbox>
      <md-slider thumbLabel
        (change)="semanticCheck.value = $event.value"
        [disabled]="!semanticCheck?.isActive"
        [value]="semanticCheck?.value" min="0" max="100"></md-slider>
    </div>
    <hr>
  </md-sidenav>

  <div class="draw-view">
    <div class="image-container">
      <div class="original" [style.background-image]="'url(' + (annotate$ | async)?.annotation?.image_url + ')'"></div>
      <div class="skin-pixels" [style.background-image]="'url(' + (annotate$ | async)?.annotation?.paint_image + ')'"></div>
    </div>
  </div>

  <md-toolbar color="accent">
    <button md-icon-button (click)="nav.toggle()">
      <md-icon fontSet="fontawesome" fontIcon="fa-sliders"></md-icon>
    </button>
    <span class="spacer"></span>
    <!-- <button md-button color="warn" [routerLink]="['/annotate/' + (annotate$ | async)?.selectedImage?.id + '/' + (annotate$ | async)?.annotation?.id]">Cancel</button> -->
    <button md-raised-button color="primary" (click)="handleNext()">Save and Continue</button>
  </md-toolbar>

</md-sidenav-container>
