<md-sidenav-container>
  <md-sidenav #nav mode="side" opened="true">
    <h2>Mark Objects</h2>
    <p>Please select an object type and add related rectangles on top of the image by dragging and drawing the smallest bounding rectangle around each object. You can edit and remove later by selecting from the options.</p>
    <hr>
    <div>
      Object Type:
      <button md-raised-button color="accent" [mdMenuTriggerFor]="appMenu">
        <span [style.color]="selectedObjectType?.color">{{ selectedObjectType?.pluralName }}</span>
        <!-- <md-icon fontSet="fontawesome" fontIcon="fa-chevron-down"></md-icon> -->
      </button>
      <md-menu #appMenu="mdMenu">
        <button md-menu-item *ngFor="let type of objectTypes"
          (click)="store.dispatch(actions.selectObjectType(type))">
          <span [style.color]="type.color">{{ type.name }}</span>
        </button>
      </md-menu>
    </div>
    <hr>
    <md-button-toggle-group (change)="objectXStore.dispatch(objectXActions.setDrawMode($event.value))"
      [value]="(objectX$ | async)?.drawMode">
      <md-button-toggle color="primary" [value]="0"><md-icon>add_circle_outline</md-icon> Add</md-button-toggle>
      <md-button-toggle color="primary" [value]="1"><md-icon>remove_circle_outline</md-icon> Remove</md-button-toggle>
      <md-button-toggle color="primary" [value]="2"><md-icon>open_with</md-icon> Modify</md-button-toggle>
    </md-button-toggle-group>
    <!-- <hr>
    <md-slide-toggle [checked]="(objectX$ | async)?.isShowingOriginal"
      (change)="objectXStore.dispatch(objectXActions.setIsShowingOriginal($event.checked))">
      {{ (objectX$ | async)?.isShowingOriginal ? 'Original Visible' : 'Original Hidden' }}
    </md-slide-toggle> -->
    <hr>
    <div>
      Zoom <md-slider color="primary" thumbLabel (change)="objectXStore.dispatch(objectXActions.setZoom($event.value))"
      [value]="(objectX$ | async)?.zoom" step="0.1" min="1" max="4"></md-slider>
    </div>
    <hr>
    <div *ngFor="let type of objectTypes">
      <md-checkbox color="primary" *ngIf="getTypeCount(type) > 0"
        [checked]="getTypeCount(type) > 0"
        (change)="store.dispatch(actions.setVisibleObjectTypes(type, $event?.checked))">
        <span>{{ type?.pluralName }} ({{ getTypeCount(type) }})</span>
      </md-checkbox>
    </div>
    <div *ngFor="let object of objects">
      <button md-button (click)="store.dispatch(actions.selectObject(object))"><small><i>{{ object?.uuid }}</i></small><br></button>
      <!-- <div>
        x: {{ object?.graphics.getLeft() }} <br>
        y: {{ object?.graphics.getTop() }} <br>
        width: {{ object?.graphics.getWidth() }} <br>
        height: {{ object?.graphics.getHeight() }} <br>
      </div> -->
      <!-- <hr> -->
    </div>
  </md-sidenav>

  <div class="draw-view">
    <canvas #drawCanvas></canvas>
  </div>

  <md-toolbar color="accent">
    <button md-icon-button (click)="nav.toggle()">
      <md-icon fontSet="fontawesome" fontIcon="fa-sliders"></md-icon>
    </button>
    <span class="spacer"></span>
    <!-- <button md-button color="warn" [routerLink]="['/annotate/' + (annotate$ | async)?.selectedImage?.id + '/' + (annotate$ | async)?.annotation?.id]">Cancel</button> -->
    <button md-raised-button color="primary" [disabled]="objects.length == 0" (click)="handleNext()">Save and Continue</button>
  </md-toolbar>

</md-sidenav-container>
