<md-card [class.is-discarded]="flickrImage.state?.value == 0"
  [ngClass]="viewMode?.containerClassName"
  [ngSwitch]="viewMode?.id">

  <md-card-content (click)="handleImageClick(flickrImage)">
    <img *ngSwitchCase="0" md-card-image [src]="getImageURL(flickrImage)" [alt]="flickrImage.flickr_id" />
    <div *ngSwitchCase="1" class="card-image-wrapper"
      [ngStyle]="{
        'background-image': 'url(' + getImageURL(flickrImage) + ')',
        'opacity': flickrImage.state?.value == 0 ? 0.2 : 1.0
      }">
    </div>
  </md-card-content>

  <md-card-actions *ngSwitchCase="1" [class.is-meta-visible]="flickrImage.isMetaVisible">
    <div class="meta">
      <strong>Tags:</strong> {{ flickrImage.tags }} <br>
      <strong>License:</strong> <a [href]="flickrImage.license?.url" target="_blank">{{ flickrImage.license?.name }}</a>
    </div>
    <button md-button (click)="flickrImage.isMetaVisible = !flickrImage.isMetaVisible" *ngIf="viewMode && viewMode?.id != 2">
      <md-icon color="primary" >info</md-icon>
    </button>
    <button md-button (click)="handleImageClick(flickrImage)">
      <md-icon color="primary" [style.color]="flickrImage.state?.value == 0 ? 'red' : 'green'"
        [innerHTML]="flickrImage.state?.value == 0 ? 'close' : 'check'"></md-icon>
    </button>
  </md-card-actions>
</md-card>
