:host {
  overflow: hidden;
  width: 100%;
  position: relative;

  .pagination-label {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
  }

  md-slider {
    margin-left: 20px;
    margin-right: 20px;
  }

  md-toolbar {
    position: fixed;
    left: 0;
    z-index: 2;
    width: 100%  !important;

    &.top {
      top: 0;
    }
    &.bottom {
      bottom: 0;
    }
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .full-centered {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .block {
      max-width: 320px;
      display: block;
    }
  }

  md-sidenav-container {

    md-sidenav {

      form {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: column;

        > * {
          margin: 5px 20px 5px 20px;
        }

        .licenses {
          font-size: 12px;
        }

        .form-controls {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }
  }

}
