<md-sidenav-container [class.is-loading]="(state$ | async)?.isRequesting">
  <md-sidenav #sidenav mode="side" opened="true">
    <form [formGroup]="form" (ngSubmit)="licensesPanel.close(); handleSearch($event)" novalidate>
      <md-input-container><input [autocomplete]="'off'" mdInput formControlName="tags" type="text" placeholder="Tags"/></md-input-container>
      <md-select placeholder="Tag mode" formControlName="tagMode">
        <md-option *ngFor="let mode of (state$ | async)?.tagModes" [value]="mode">{{ mode }}</md-option>
      </md-select>
      <md-input-container><input [autocomplete]="'off'" mdInput formControlName="userID" type="text" placeholder="User ID (Optional)"/></md-input-container>
      <p class="pagination-label" [innerHTML]="(state$ | async)?.isRequesting ? 'Loading...' : ((state$ | async)?.left || 0) + ' / ' + ((state$ | async)?.total || 0) + ' images'"></p>
      <md-input-container [dividerColor]="(state$ | async)?.perpage > maxPerPage ? 'warn' : 'primary'">
        <input mdInput
          (keyup.enter)="handlePerpageKeypress($event)" [autocomplete]="'off'" formControlName="perpage"
          type="number"
          [value]="(state$ | async)?.perpage"
          [placeholder]="'How many per page? (max 100)'"/>
      </md-input-container>
      <md-input-container>
        <input [autocomplete]="'off'" mdInput formControlName="page"
          [max]="(state$ | async)?.pages"
          [placeholder]="'Page ' + (state$ | async)?.page"
          [value]="(state$ | async)?.page" type="number"/>
      </md-input-container>
      <div>
        <md-expansion-panel #licensesPanel>
          <md-expansion-panel-header>
            <mat-panel-title>Licenses</mat-panel-title>
          </md-expansion-panel-header>
          <div class="licenses" *ngFor="let license of (state$ | async)?.licenses">
            <md-checkbox [checked]="isLicenseSelected(license)" (change)="handleToggleLicense(license, $event?.checked)">
              {{ license?.name }}
            </md-checkbox>
          </div>
        </md-expansion-panel>
      </div>
      <div class="form-controls">
        <p><button md-button color="accent" type="submit" [disabled]="(state$ | async)?.isRequesting"><md-icon fontSet="fontawesome" fontIcon="fa-search"></md-icon> Search</button></p>
        <!-- <p><button md-button color="accent" type="button" (click)="handleToggleSelectAll($event)" [disabled]="(state$ | async)?.isRequesting || (state$ | async)?.images.length == 0"><md-icon fontSet="fontawesome" fontIcon="fa-check"></md-icon> Select All</button></p> -->
        <p><button md-button color="warn" type="button" (click)="handleDiscardAll($event)" [disabled]="(state$ | async)?.isRequesting || (state$ | async)?.images.length == 0"><md-icon fontSet="fontawesome" fontIcon="fa-minus-circle"></md-icon> Discard all</button></p>
        <p><button md-raised-button color="primary" type="button" (click)="handleSave($event, state$?.page)" [disabled]="(state$ | async)?.isRequesting || (state$ | async)?.images.length == 0"><md-icon fontSet="fontawesome" fontIcon="fa-save"></md-icon> Save & Next</button></p>
      </div>
    </form>
  </md-sidenav>

  <md-progress-spinner *ngIf="(state$ | async)?.isRequesting" color="primary" mode="indeterminate"></md-progress-spinner>

  <div *ngIf="!(state$ | async)?.images[0] && !(state$ | async)?.isRequesting">No results.</div>

  <md-toolbar color="accent" *ngIf="!(state$ | async)?.isRequesting && (state$ | async)?.images.length > 0">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon fontSet="fontawesome" fontIcon="fa-search"></md-icon>
    </button>
    <md-button-toggle-group #viewMode="mdButtonToggleGroup" (change)="handleViewMode($event)">
      <md-button-toggle *ngFor="let viewMode of (cardLayout$ | async)?.viewModes" [value]="viewMode"
        [checked]="(cardLayout$ | async)?.currentViewMode.id == viewMode?.id">
        <md-icon fontSet="fontawesome" fontIcon="fa-{{ viewMode?.iconName }}"></md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
    <span class="spacer"></span>
    <md-slider
      *ngIf="(cardLayout$ | async)?.isScaleSliderVisible"
      [disabled]="(state$ | async)?.isRequesting"
      [max]="60"
      [min]="20"
      [step]="10"
      [thumb-label]="false"
      [value]="(cardLayout$ | async)?.currentViewMode.cardScale"
      [vertical]="false"
      [invert]="true"
      (input)="handleThumbnailScale($event)"></md-slider>
  </md-toolbar>

  <fat-card-list *ngIf="!(state$ | async)?.isRequesting"
      [images]="images"
      [cardOptions]="(cardLayout$ | async)?.currentViewMode"
      (onCardClick)="handleImageDiscarded($event)"></fat-card-list>

</md-sidenav-container>
