nav {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  a {
    color: blue;
    font-size: 14px;
    padding: 10px 20px;
    color: #0288D1;
    text-decoration: none;
    &.active {
      color: red;
    }
  }
}

md-sidenav {
  min-width: 325px;
  padding-top: 120px;
}
