<md-toolbar>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon fontSet="fontawesome" fontIcon="fa-bars"></md-icon> {{ step ? 'Step ' + step + ': ' + items[step-1]?.title : 'Please select a step' }}
  </button>

  <md-menu #menu="mdMenu">
    <button md-menu-item *ngFor="let item of items"
      (click)="handleStepClick({ image: selectedImage, step: item.id})">
      <md-icon fontSet="fontawesome" [fontIcon]="item?.iconName"></md-icon> {{ item?.id }}: {{ item?.title }}
    </button>
  </md-menu>

  <span class="spacer"></span>

  <button md-button [routerLink]="['/annotate']" color="warn">
    <md-icon fontSet="fontawesome" fontIcon="fa-close"></md-icon> Cancel
  </button>
  <button md-button color="primary" (click)="handleSave($event)">
    <md-icon fontSet="fontawesome" fontIcon="fa-save"></md-icon> Save
  </button>

</md-toolbar>
<br>
<div class="container-fluid">
  <h2 [innerHTML]="items[step-1]?.title"></h2>
  <p [innerHTML]="items[step-1]?.description"></p>
</div>
