<md-progress-spinner *ngIf="(annotate$ | async)?.isRequesting" color="primary" mode="indeterminate"></md-progress-spinner>
<md-card *ngIf="!(annotate$ | async)?.isRequesting">
  <md-card-title *ngIf="(annotate$ | async)?.images[0] && (annotate$ | async)?.selectedImage && (annotate$ | async)?.selectedStep">
    <h2 [innerHTML]="(annotate$ | async)?.selectedStep?.title"></h2>
    <p [innerHTML]="(annotate$ | async)?.selectedStep?.description"></p>
  </md-card-title>
  <md-card-content>
    <div class="jumbotron" *ngIf="!(annotate$ | async)?.images[0] && !(annotate$ | async)?.isRequesting">
      <div class="container">
        <h2>No approved images yet.</h2>
        <p>Collected images will appear here as soon as they are approved by the moderators.</p>
        <p>If you are a moderator, you can <a [href]="adminURL" target="_blank">login</a> to the admin panel and approve collected images.</p>
      </div>
    </div>
    <div class="content" *ngIf="(annotate$ | async)?.images[0]">
      <fat-card-list
        *ngIf="!(annotate$ | async)?.selectedImage"
        [images]="(annotate$ | async)?.images"
        [cardOptions]="viewMode"
        (onCardClick)="handleCardSelect($event)"></fat-card-list>
      <router-outlet></router-outlet>
    </div>
  </md-card-content>
</md-card>
