<md-toolbar>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon fontSet="fontawesome" fontIcon="fa-bars"></md-icon> {{ step ? 'Step ' + step + ': ' + (annotate$ | async)?.steps[step-1]?.title : 'Please select a step' }}
  </button>

  <md-menu #menu="mdMenu">
    <button md-menu-item *ngFor="let item of (annotate$ | async)?.steps"
      [routerLink]="['/annotate', (annotate$ | async)?.selectedImage?.id, item?.routePath]">
      <md-icon fontSet="fontawesome" [fontIcon]="item?.iconName"></md-icon> {{ item?.title }}
    </button>
  </md-menu>

  <!-- <span class="spacer"></span> -->

  <!-- <button md-button [routerLink]="['/annotate']" color="warn">
    <md-icon fontSet="fontawesome" fontIcon="fa-close"></md-icon> Cancel
  </button>
  <button md-button color="primary" (click)="handleSave($event)">
    <md-icon fontSet="fontawesome" fontIcon="fa-save"></md-icon> Next
  </button> -->

</md-toolbar>
<br>
<div class="container-fluid">
  <h2 [innerHTML]="(annotate$ | async)?.steps[step-1]?.title"></h2>
  <p [innerHTML]="(annotate$ | async)?.steps[step-1]?.description"></p>
</div>


<fat-annotate-steps
  *ngIf="(annotate$ | async)?.selectedImage"
  [selectedImage]="(annotate$ | async)?.selectedImage"

  (onStepSelect)="handleStepChange($event)"
  (onNext)="handleNext($event)"></fat-annotate-steps>

<md-card>
  <md-card-title *ngIf="(annotate$ | async)?.images[0] && !(annotate$ | async)?.isRequesting">
    <h1 [innerHTML]="(annotate$ | async)?.stepTitle"></h1>
    <p [innerHTML]="(annotate$ | async)?.stepDescription"></p>
  </md-card-title>
  <md-card-content>

    <md-progress-spinner *ngIf="(annotate$ | async)?.isRequesting" color="primary" mode="indeterminate"></md-progress-spinner>

    <div class="jumbotron" *ngIf="!(annotate$ | async)?.images[0] && !(annotate$ | async)?.isRequesting">
      <div class="container">
        <h2>No approved images yet.</h2>
        <p>Collected images will appear here as soon as they are approved by the moderators.</p>
        <p>If you are a moderator, you can <a [href]="adminURL" target="_blank">login</a> to the admin panel and approve collected images.</p>
      </div>
    </div>

    <div class="content" *ngIf="(annotate$ | async)?.images[0] && !(annotate$ | async)?.isRequesting">

      <div *ngIf="!(annotate$ | async)?.selectedImage && !(annotate$ | async)?.selectedStep">
        <div *ngIf="(annotate$ | async)?.previous">
          <button md-button>{{ (annotate$ | async)?.previous }}</button>
        </div>
        <div *ngIf="(annotate$ | async)?.previous">
          <button md-button>{{ (annotate$ | async)?.previous }}</button>
        </div>
        <fat-card-list
            [images]="(annotate$ | async)?.images"
            [cardOptions]="viewMode"
            (onCardClick)="handleCardSelect($event)"></fat-card-list>
      </div>

    </div>

    <pre [innerHTML]="(annotate$ | async)?.annotatedImage | json"></pre>

  </md-card-content>
</md-card>
