{% extends "admin/base.html" %}

{% block title %}Flickr Search Panel{% endblock %}

{% block extrastyle %}
<style type="text/css" media="screen">
body,
.module,
.row1,
#header {
  background: white;
}
.row2 {
  background: white;
}
#header {
  color: #1C1C1C;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited {
  color: black;
}
.module h2, .module caption, .inline-group h2,
div.breadcrumbs {
  background: #3c3c3c;
  color: white;
}
#header a:link, #header a:visited,
a:link, a:visited {
  color: #54bfe2;
}
.login #header h1 a {
  color: #54bfe2 !important;
}
a.section:link, a.section:visited {
  color: white;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #BEC3C8;
}
.object-tools a:link, .object-tools a:visited {
  background: #96A5A6;
}
.field-get_content a:link, .field-get_content a:visited {
  color: black;
}
.object-tools a.viewsitelink, .object-tools a.golink, .object-tools a.addlink {
  padding-right: 10px;
}
.button:active,
input[type=submit]:active,
input[type=button]:active,
.button:focus,
input[type=submit]:focus,
input[type=button]:focus,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover {
  background: #96A5A6;
}
.button.default,
input[type=submit].default,
.submit-row input.default {
  background: #3D6E83;
}
.button.default:active,
input[type=submit].default:active,
.button.default:focus,
input[type=submit].default:focus,
.button.default:hover,
input[type=submit].default:hover {
  background: #2D3D52;
}
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Flickr Search Panel</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
