<md-toolbar color="primary">

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon fontSet="fontawesome" fontIcon="fa-bars"></md-icon>
  </button>

  <md-menu #menu="mdMenu">
    <button md-menu-item *ngIf="!isLoggedIn()" [routerLink]="['/login']"><md-icon fontSet="fontawesome" fontIcon="fa-sign-in"></md-icon> Login</button>
    <button md-menu-item *ngIf="isLoggedIn()" [routerLink]="['/search']">
      <md-icon fontSet="fontawesome" fontIcon="fa-search"></md-icon>
      <span>Search for images</span>
    </button>
    <button md-menu-item *ngIf="isLoggedIn()" [routerLink]="['/annotate']">
      <md-icon fontSet="fontawesome" fontIcon="fa-paint-brush"></md-icon>
      <span>Annotate Images</span>
    </button>
    <button md-menu-item *ngIf="isLoggedIn()" [routerLink]="['/review']" disabled>
      <md-icon fontSet="fontawesome" fontIcon="fa-thumbs-o-up"></md-icon>
      <span>Review annotated images</span>
    </button>
    <hr *ngIf="isLoggedIn()">
    <button md-menu-item *ngIf="isLoggedIn()" (click)="logout($event)"><md-icon fontSet="fontawesome" fontIcon="fa-sign-out"></md-icon> Logout</button>
  </md-menu>

  <span class="spacer"></span>
  <span>FAT</span>
</md-toolbar>

<router-outlet></router-outlet>
