<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>

<md-toolbar color="primary" *ngIf="!isAuthenticated">

  <button md-button [routerLink]="['/login']"><md-icon fontSet="fontawesome" fontIcon="fa-sign-in"></md-icon> Login</button>
  <span class="spacer"></span>
  <span>FAT</span>

</md-toolbar>

<md-toolbar color="primary" *ngIf="isAuthenticated">

  <button md-icon-button [mdMenuTriggerFor]="menuAuthenticated">
    <md-icon fontSet="fontawesome" fontIcon="fa-bars"></md-icon>
    <span>{{ currentLink?.title }}</span>
  </button>
  <md-menu #menuAuthenticated="mdMenu">
    <button *ngFor="let link of links"
      md-menu-item
      [routerLink]="[link?.routerLink]"
      [disabled]="link?.isDisabled">
      <md-icon fontSet="fontawesome" [fontIcon]="link?.iconName"></md-icon>
      <span>{{ link?.title }}</span>
    </button>
    <hr>
    <button md-menu-item (click)="handleLogout()"><md-icon fontSet="fontawesome" fontIcon="fa-sign-out"></md-icon> Logout</button>
  </md-menu>

  <span class="spacer"></span>

  <span>FAT</span>

</md-toolbar>

<router-outlet></router-outlet>
