<div class="jumbotron">

  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <h2>Login</h2>
    <md-input-container [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <input mdInput type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel" required />
    </md-input-container>

    <md-input-container [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <input mdInput type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
    </md-input-container>

    <div class="form-group">
      <button md-raised-button [disabled]="loading">Login</button>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>

</div>
