<md-toolbar color="primary">
  <button md-mini-fab (click)="sidenav.toggle()">
    <md-icon>more_horizontal</md-icon>
  </button>
  <span class="spacer"></span>
  <span>Flickr Search Tool</span>
  <button [style.margin-left]="'20px'" md-button (click)="logout($event)"><md-icon>exit_to_app</md-icon> Logout</button>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true">
    <form [formGroup]="form" (ngSubmit)="handleSearch($event, state$?.page)" novalidate>
      <md-input-container><input [autocomplete]="false" mdInput formControlName="query" type="text" placeholder="Tags"/></md-input-container>
      <md-input-container><input [autocomplete]="false" mdInput formControlName="exclude" type="text" placeholder="Exclude"/></md-input-container>
      <md-select placeholder="Tag mode" formControlName="tagMode">
        <md-option *ngFor="let mode of (state$ | async)?.tagModes" [value]="mode">{{ mode.label }}</md-option>
      </md-select>
      <md-input-container><input [autocomplete]="false" mdInput formControlName="userID" type="text" placeholder="User ID (Optional)"/></md-input-container>
      <div>
        <md-expansion-panel #licensesPanel>
          <md-expansion-panel-header>
            <mat-panel-title>Licenses</mat-panel-title>
          </md-expansion-panel-header>
          <div class="licenses" *ngFor="let license of (state$ | async)?.licenses">
            <md-checkbox [checked]="isLicenseSelected(license)" (change)="handleToggleLicense(license, $event?.checked)">
              {{ license?.name }}
            </md-checkbox>
          </div>
        </md-expansion-panel>
      </div>
      <p class="pagination-label" *ngIf="!(state$ | async)?.isRequesting" [innerHTML]="'Page ' + (state$ | async)?.page + ' of ' + (state$ | async)?.pages + ' results'"></p>
      <md-input-container>
        <input [autocomplete]="false" mdInput formControlName="perpage" type="number" placeholder="How many per page?"/>
      </md-input-container>
      <md-input-container>
        <input [autocomplete]="false" mdInput formControlName="page"
          [max]="(state$ | async)?.pages"
          [placeholder]="'Page ' + (state$ | async)?.page"
          [value]="(state$ | async)?.page" type="number"/>
      </md-input-container>
      <div class="form-controls">
        <p><button md-raised-button type="submit" [disabled]="(state$ | async)?.isRequesting"><md-icon>search</md-icon> Search</button></p>
        <p><button md-button color="primary" type="button" (click)="handleSave($event, state$?.page)" [disabled]="(state$ | async)?.isRequesting"><md-icon>save</md-icon> Save</button></p>
      </div>
    </form>
  </md-sidenav>

  <div class="content" [class.is-loading]="(state$ | async)?.isRequesting">
    <md-progress-spinner *ngIf="(state$ | async)?.isRequesting" color="primary" mode="indeterminate"></md-progress-spinner>
    <div class="content-heading" *ngIf="!(state$ | async)?.isRequesting">
      <md-button-toggle-group #viewMode="mdButtonToggleGroup"
        (change)="handleViewMode($event)">
        <md-button-toggle *ngFor="let viewMode of (cardLayout$ | async)?.viewModes" [value]="viewMode"
          [checked]="(cardLayout$ | async)?.currentViewMode.id == viewMode?.id">
          <md-icon>{{ viewMode?.iconName }}</md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
      <md-slider
        *ngIf="(cardLayout$ | async)?.isScaleSliderVisible"
        [disabled]="(state$ | async)?.isRequesting"
        [max]="50"
        [min]="10"
        [step]="5"
        [thumb-label]="false"
        [value]="(cardLayout$ | async)?.thumbnailScale"
        [vertical]="false"
        (input)="handleThumbnailScale($event)">
      </md-slider>
    </div>
    <div *ngIf="!(state$ | async)?.images[0] && !(state$ | async)?.isRequesting">No more results</div>
    <div class="thumbnails">
      <fls-search-card *ngFor="let image of (state$ | async)?.images"
        [image]="image"
        [thumbnailScale]="(cardLayout$ | async)?.thumbnailScale"
        [viewMode]="(cardLayout$ | async)?.currentViewMode"
        [style.width]="(cardLayout$ | async)?.currentViewMode?.id == 0 ? '100%' : (cardLayout$ | async)?.thumbnailScale + '%'"></fls-search-card>
    </div>
  </div>
</md-sidenav-container>
