:host {
  overflow: hidden;
  width: 100%;

  .pagination-label {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
  }

  md-slider {
    margin-left: 20px;
    margin-right: 20px;
  }

  md-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .content {
    width: 100%;
    height: 100%;
    padding: 20px 20px 120px 20px;
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    &.is-loading {
    }

    .content-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      margin-bottom: 20px;
      h2 {
        flex: 1 1 auto;
      }
    }
  }

  .thumbnails {
    column-count: 3;
    column-gap: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 99%;
    height: 100%;
    overflow-x: auto;
    overflow-hidden: auto;
    // min-height: 0px;

    fls-search-card {
      break-inside: avoid;
    }
  }
  .brick {
    // width: 200px;
    background: green;
    margin: 5px;
    padding: 15px;
  }

  md-sidenav-container {
    height: 100%;

    md-sidenav {
      min-width: 325px;
      padding-top: 120px;


      form {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 20px;

        > * {
          margin: 5px 20px 5px 20px;
        }

        .licenses {
          font-size: 12px;
        }

        .form-controls {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
        }
      }
    }
  }

  md-toolbar {
    .spacer {
      flex: 1 1 auto;
    }
  }

}
