<md-sidenav-container>
  <md-sidenav #nav mode="side" opened="true">
    <h2 [innerHTML]="(annotate$ | async)?.selectedStep?.title"></h2>
    <p [innerHTML]="(annotate$ | async)?.selectedStep?.description"></p>
    <hr>
    <div class="slider-row" *ngFor="let type of (nudityCheck$ | async).checkTypes">
      <md-checkbox [checked]="type?.isActive" (change)="store.dispatch(actions.toggleTypeActive(type))">
        <span>{{ type?.label }}</span>
      </md-checkbox>
      <md-slider thumbLabel
        (change)="store.dispatch(actions.setWeight(type, $event.value))"
        [disabled]="!type?.isActive"
        [value]="type?.weight" min="0" max="100"></md-slider>
      <hr>
    </div>
    <hr>
    <div class="form-controls">
      <button md-button [routerLink]="['/annotate']" color="warn">
        <md-icon fontSet="fontawesome" fontIcon="fa-close"></md-icon> Cancel
      </button>
      <button md-button color="primary" (click)="handleNext()">
        <md-icon fontSet="fontawesome" fontIcon="fa-save"></md-icon> Next
      </button>
    </div>
  </md-sidenav>

  <div class="draw-view">
    <img [src]="(annotate$ | async)?.selectedImage?.image"/>
  </div>

</md-sidenav-container>
