<div class="row">
  <div class="col-xs-12 col-sm-3">
    <hr>
    <div class="slider-row" *ngFor="let type of (nudityCheck$ | async).checkTypes">
      <md-checkbox [checked]="type?.isActive" (change)="store.dispatch(actions.toggleTypeActive(type))">
        <span>{{ type?.label }}</span>
      </md-checkbox>
      <md-slider thumbLabel
        (change)="store.dispatch(actions.setWeight(type, $event.value))"
        [disabled]="!type?.isActive"
        [value]="type?.weight" min="0" max="100"></md-slider>
      <hr>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="draw-view">
      <img [src]="(annotate$ | async)?.selectedImage?.image"/>
    </div>
  </div>
</div>
