<md-card [class.is-discarded]="image?.state?.value == 1"
  [ngClass]="cardOptions.containerClassName"
  [ngSwitch]="cardOptions.id">

  <md-card-content (click)="handleImageClick(image)">
    <img md-card-image [src]="getImageURL(image)" [alt]="image.id" />
    <div class="meta" *ngSwitchCase="0">
      <strong>Flickr ID:</strong> {{ image.id }} <br>
      <strong>Tags:</strong> {{ image.tags }} <br>
      <strong>License:</strong> <a [href]="image.license?.url" target="_blank">{{ image.license?.name }}</a>
    </div>
    <button md-button (click)="handleImageClick(image)" *ngSwitchCase="0">
      <md-icon color="primary" [style.color]="image.state?.value == 1 ? 'red' : 'green'"
        [innerHTML]="image.state?.value == 1 ? 'close' : 'check'"></md-icon>
    </button>
  </md-card-content>

  <md-card-actions *ngIf="isActionsVisible">
    <div *ngSwitchCase="1">
      <div class="meta" *ngIf="cardOptions.cardScale >= 50">
        <strong>Tags:</strong> {{ image.tags }} <br>
        <strong>License:</strong> <a [href]="image.license?.url" target="_blank">{{ image.license?.name }}</a>
      </div>
    </div>
    <button md-button (click)="handleImageClick(image)" *ngSwitchCase="1">
      <md-icon color="primary" [style.color]="image.state?.value == 1 ? 'red' : 'green'"
        [innerHTML]="image.state?.value == 1 ? 'close' : 'check'"></md-icon>
    </button>
  </md-card-actions>
</md-card>
