from fat.settings.base import *

DEBUG = True
SECRET_KEY = 'something-very-secret'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
    }
}

EMAIL_BACKEND = 'backends.smtp.EmailBackend'
