<fat-annotate-steps
  *ngIf="(state$ | async)?.selectedImage"
  [selectedImage]="(state$ | async)?.selectedImage"
  [items]="(state$ | async)?.navItems"></fat-annotate-steps>

<div class="content" [class.is-loading]="(state$ | async)?.isRequesting">
  <div *ngIf="(state$ | async)?.previous">
    <button md-button>{{ (state$ | async)?.previous }}</button>
  </div>
  <div *ngIf="(state$ | async)?.previous">
    <button md-button>{{ (state$ | async)?.previous }}</button>
  </div>
  <fat-card-list *ngIf="!(state$ | async)?.isRequesting && !(state$ | async)?.selectedImage"
      [images]="(state$ | async)?.images"
      [viewMode]="viewMode"
      [cardOptions]="{
        cardScale: 25,
        isActionsVisible: false
      }"
      (onCardClick)="handleCardSelect($event)"></fat-card-list>
  <md-progress-spinner *ngIf="(state$ | async)?.isRequesting" color="primary" mode="indeterminate"></md-progress-spinner>
  <div *ngIf="!(state$ | async)?.images[0] && !(state$ | async)?.isRequesting">No results.</div>
  <router-outlet></router-outlet>
</div>
