<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true">

    <form *ngIf="state$ | async" [formGroup]="form" (ngSubmit)="handleSearch($event, state$.page)" novalidate>
        <md-input-container><input mdInput formControlName="query" type="text" placeholder="Search for keywords"/></md-input-container>
        <md-input-container><input mdInput formControlName="exclude" type="text" placeholder="Exclude keywords"/></md-input-container>
        <md-input-container><input mdInput formControlName="userID" type="text" placeholder="User ID (Optional)"/></md-input-container>
        <md-select placeholder="Tag mode" formControlName="tagMode">
          <md-option *ngFor="let mode of (state$ | async)?.tagModes" [value]="mode">{{ mode.label }}</md-option>
        </md-select>
        <hr>
        <div>
          <md-expansion-panel #licensesPanel>
            <md-expansion-panel-header>
              <mat-panel-title>Licenses</mat-panel-title>
            </md-expansion-panel-header>
            <div class="licenses" *ngFor="let license of (state$ | async)?.licenses">
              <md-checkbox [checked]="isLicenseSelected(license)" (change)="handleToggleLicense(license, $event?.checked)">
                {{ license?.name }}
              </md-checkbox>
            </div>
          </md-expansion-panel>
        </div>
        <hr>
        <md-input-container>
          <input mdInput formControlName="perPage" type="number" placeholder="How many per page?"/>
        </md-input-container>
        <md-input-container>
          <input mdInput formControlName="page"
            [max]="(state$ | async)?.totalPages"
            [placeholder]="'Page ' + (state$ | async)?.page + ' of ' + (state$ | async)?.totalPages + ' pages'"
            [value]="(state$ | async)?.page" type="number"/>
        </md-input-container>
        <div class="form-controls" *ngIf="!(state$ | async)?.isRequesting">
          <p><button md-raised-button type="submit" [disabled]="(state$ | async)?.isRequesting"><md-icon>search</md-icon> Search</button></p>
          <p><button md-button color="primary" type="button" (click)="handleSave($event, state$.page)" [disabled]="(state$ | async)?.isRequesting"><md-icon>save</md-icon> Save</button></p>
          <hr>
        </div>
        <md-progress-spinner *ngIf="(state$ | async)?.isRequesting" color="primary" mode="indeterminate"></md-progress-spinner>
        <p><button md-raised-button (click)="logout($event)"><md-icon>exit_to_app</md-icon> Logout</button></p>
    </form>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-mini-fab (click)="sidenav.toggle()">
      <md-icon>more_vert</md-icon>
    </button>
    <span class="spacer"></span>
    <span>Flickr Search Tool</span>
  </md-toolbar>

  <div class="thumbnails">
    <md-progress-spinner *ngIf="(state$ | async)?.isRequesting" color="primary" mode="indeterminate"></md-progress-spinner>
    <div *ngIf="!(state$ | async)?.images[0] && !(state$ | async)?.isRequesting">No more results</div>
    <md-card *ngFor="let image of (state$ | async)?.images">
      <md-card-content
        [class.disabled]="(state$ | async)?.isRequesting"
        [class.is-discarded]="image.is_discarded"
        (click)="handleImageClick(image)">
        <img md-card-image [src]="image.flickr_image_url" [alt]="image.flickr_image_id" />
        <div>
          <md-icon color="primary" [style.color]="'red'" *ngIf="image.is_discarded">close</md-icon>
          <md-icon color="primary" *ngIf="!image.is_discarded">check</md-icon>
        </div>
        <div class="meta">
          <strong>Tags:</strong> {{ image.tags }} <br>
          <strong>License:</strong> <a [href]="image.license.url" target="_blank">{{ image.license.name }}</a>
        </div>
      </md-card-content>
    </md-card>
  </div>


</md-sidenav-container>
