<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">

    <form [formGroup]="form" (ngSubmit)="handleSearch($event)" novalidate>

        <md-input-container><input mdInput formControlName="query" type="text" placeholder="Search for keywords"/></md-input-container>
        <md-input-container><input mdInput formControlName="exclude" type="text" placeholder="Exclude keywords"/></md-input-container>
        <md-input-container><input mdInput formControlName="userID" type="text" placeholder="User ID (Optional)"/></md-input-container>
        <md-select placeholder="Tag Mode" formControlName="tagMode">
          <md-option *ngFor="let mode of tagModes" [value]="mode.value">{{ mode.label }}</md-option>
        </md-select>
        <md-input-container>
          <input mdInput formControlName="perPage" type="number" placeholder="How many per page?"/>
        </md-input-container>
        <button md-mini-fab type="submit"><md-icon>search</md-icon></button>

        <div class="form-controls">
          <button md-raised-button type="button" (click)="handleSave($event)"><md-icon>save</md-icon> Save</button>
          <button md-raised-button (click)="logout($event)">Logout</button>
        </div>
    </form>
  </md-sidenav>

  <button md-mini-fab (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>

  <div class="thumbnails">
    <md-card *ngFor="let image of images">
      <!-- <md-card-header> -->
        <!-- <md-card-title-group> -->
          <!-- <md-card-title><span *ngIf="image.is_discarded" class="fa fa-remove"></span>{{ image.flickr_image_id }}</md-card-title> -->
          <!-- <md-card-subtitle>{{ image.flickr_image_url }}</md-card-subtitle> -->
        <!-- </md-card-title-group> -->
      <!-- </md-card-header> -->
      <md-card-content class="thumbnail" [class.is-discarded]="image.is_discarded" (click)="image.toggleDiscarded()">
        <img md-card-image [src]="image.flickr_image_url" [alt]="image.flickr_image_id" />
        <div class="meta">
          <strong>Tags:</strong> {{ image.tags }} <br>
          <strong>License:</strong> {{ image.license }}
        </div>
      </md-card-content>

    </md-card>
  </div>


</md-sidenav-container>
