<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true">

    <form [formGroup]="form" (ngSubmit)="handleSearch($event)" novalidate>

        <md-input-container><input mdInput formControlName="query" type="text" placeholder="Search for keywords"/></md-input-container>
        <md-input-container><input mdInput formControlName="exclude" type="text" placeholder="Exclude keywords"/></md-input-container>
        <md-input-container><input mdInput formControlName="userID" type="text" placeholder="User ID (Optional)"/></md-input-container>
        <md-select placeholder="Tag Mode" formControlName="tagMode">
          <md-option *ngFor="let mode of tagModes" [value]="mode.value">{{ mode.label }}</md-option>
        </md-select>
        <md-input-container>
          <input mdInput formControlName="perPage" type="number" placeholder="How many per page?"/>
        </md-input-container>

        <div class="form-controls" *ngIf="!isRequesting">
          <p><button md-raised-button type="submit" [disabled]="isRequesting"><md-icon>search</md-icon> Search</button></p>
          <p><button md-button color="primary" type="button" (click)="handleSave($event)" [disabled]="isRequesting"><md-icon>save</md-icon> Save</button></p>
          <hr>
        </div>
        <md-progress-spinner *ngIf="isRequesting" color="primary" mode="indeterminate"></md-progress-spinner>
        <p><button md-raised-button (click)="logout($event)"><md-icon>exit_to_app</md-icon> Logout</button></p>
    </form>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-mini-fab (click)="sidenav.toggle()">
      <md-icon>more_vert</md-icon>
    </button>
    <span class="spacer"></span>
    <span>Flickr Search Tool</span>
  </md-toolbar>

  <div class="thumbnails">
    <md-progress-spinner *ngIf="isRequesting" color="primary" mode="indeterminate"></md-progress-spinner>
    <div *ngIf="!images[0] && !isRequesting">No more results</div>
    <md-card *ngFor="let image of images">
      <!-- <md-card-header *ngIf="image.title"> -->
        <!-- <md-card-title>{{ image.title }}</md-card-title> -->
        <!-- <md-card-title-group> -->
          <!-- <md-card-title><span class="fa fa-remove"></span>{{ image.flickr_image_id }}</md-card-title> -->
          <!-- <md-card-subtitle>{{ image.flickr_image_url }}</md-card-subtitle> -->
        <!-- </md-card-title-group> -->
      <!-- </md-card-header> -->
      <md-card-content
        [class.disabled]="isRequesting"
        [class.is-discarded]="image.is_discarded"
        (click)="image.toggleDiscarded()">
        <img md-card-image [src]="image.flickr_image_url" [alt]="image.flickr_image_id" />
        <div>
          <md-icon color="primary" [style.color]="'red'" *ngIf="image.is_discarded">close</md-icon>
          <md-icon color="primary" *ngIf="!image.is_discarded">check</md-icon>
        </div>
        <div class="meta">
          <strong>Tags:</strong> {{ image.tags }} <br>
          <strong>License:</strong> <a [href]="getLicence(image.license).url" target="_blank">{{ getLicence(image.license).name }}</a>
        </div>
      </md-card-content>

      <!-- <md-card-actions>
        <button md-button (click)="selectImage(image)">Info</button>
      </md-card-actions> -->

    </md-card>
  </div>


</md-sidenav-container>
