:host {
  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  md-sidenav-container {
    height: 100%;
    md-sidenav {
      min-width: 240px;


      form {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 20px;

        > * {
          margin: 5px 20px 5px 20px;
        }

        .form-controls {
          display: flex;
          align-items: stretch;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
  }

  md-toolbar {
    .spacer {
      flex: 1 1 auto;
    }
  }


  md-card {
    max-width: 420px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    display: block;
    overflow: auto;

    md-card-content {
      transition: all 0.4s ease;
      border: 1px solid #ccc;
      box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
      border-radius: 10px;
      margin: 5px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      padding: 5px;

      .meta {
        transition: all 0.4s ease;
        font-size: 12px;
      }

      img {
        transition: all 0.4s ease;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        opacity: 1;
        margin-bottom: 5px;
        // max-width: 100%;
        max-height: 240px;
        // width: 100%;
        // min-width: 200px;
        // max-height: 120px;
      }
      .fa {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 48px;
        color: red;
      }

      &.is-discarded {
        box-shadow: none;
        border: 1px solid #e2e2e2;
        img {
          opacity: 0.5;
        }
        .fa {
          display: block;
        }
        .meta {
          opacity: 0.2;
        }
      }

      &.disabled {
        opacity: 0.2;
        pointer-events: none;
      }
    }

  }

}
