<div class="col-md-6 col-md-offset-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)" novalidate>
    <input formControlName="query" type="text" placeholder="Search for keywords">
    <input formControlName="exclude" type="text" placeholder="Exclude keywords">
    <input formControlName="userID" type="text" placeholder="User ID (Optional)">
    <select formControlName="tagMode">
      <option *ngFor="let mode of tagModes" [value]="mode.value">{{ mode.label }}</option>
    </select>
    <input formControlName="perPage" type="number" placeholder="How many per page?">
    <div class="form-controls">
      <button type="submit">Search</button>
      <button type="button" (click)="onSave($event)">Save</button>
    </div>
  </form>
  <div class="thumbnails">
    <button *ngFor="let result of results" (click)="toggle(result)" [class.deselected]="!result.isSelected">
      <img [src]="result.url" [alt]="result.id">
      <span class="fa fa-remove"></span>
      <div class="meta">
        ID: {{ result.id }} <br>
        License: {{ result.license }} <br>
        Tags: {{ result.tags }}
      </div>
    </button>
  </div>
  <p>
    <button (click)="logout()" [disabled]="form.invalid">Logout</button>
  </p>
</div>
